<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property>
		<property name="c3p0.acquire_increment">1</property>
		<property name="c3p0.idle_test_period">100</property>
		<property name="c3p0.max_size">5</property>
		<property name="c3p0.max_statements">0</property>
		<property name="c3p0.min_size">2</property>
		<property name="c3p0.timeout">90</property>
		<property name="c3p0.preferredTestQuery ">select 1 from user where id=1</property>
		<property name="c3p0.idleConnectionTestPeriod ">18000</property>
		<property name="c3p0.maxIdleTime">25000</property>
		<property name="c3p0.testConnectionOnCheckout">true</property>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.password">Lihaoxuan149</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/ksl?useUnicode=true&amp;characterEncoding=utf8</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
		<mapping resource="com/bestksl/domain/Paper.hbm.xml" />
		<mapping resource="com/bestksl/domain/User.hbm.xml" />
		<mapping resource="com/bestksl/domain/Achievement.hbm.xml" />
		<mapping resource="com/bestksl/domain/Hardware.hbm.xml" />
		<mapping resource="com/bestksl/domain/Message.hbm.xml" />
		<mapping resource="com/bestksl/domain/Patent.hbm.xml" />
		<mapping resource="com/bestksl/domain/Software.hbm.xml" />
		<mapping resource="com/bestksl/domain/Book.hbm.xml" />
		<mapping resource="com/bestksl/domain/Literature.hbm.xml" />
		<mapping resource="com/bestksl/domain/Hengxiang.hbm.xml" />
		<mapping resource="com/bestksl/domain/Zongxiang.hbm.xml" />
	</session-factory>
</hibernate-configuration>
